@page "/"
@using MigraDoc.Rendering
@using PdfSharp.Fonts
@using PdfSharp.Pdf
@using WinterAdventurer.Library
@using System
@using System.IO
@using MudBlazor
@using WinterAdventurer.Library.Models
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Import Excel File</h1>

<MudFileUpload T="IBrowserFile" FilesChanged="UploadExcel" Accept=".xlsx">
    <ActivatorContent>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.CloudUpload">
            Upload Excel File
        </MudButton>
    </ActivatorContent>
</MudFileUpload>

@if (isLoading)
{
    <p>Uploading...</p>
}

@if (workshops != null && workshops.Count > 0)
{


    <EditForm Model=workshops OnValidSubmit="BuildPdf">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Class="pa-4 mud-height-full">
                @if (!success)
                    {
                        <MudText Color="@Color.Error">
                            <ValidationSummary />
                        </MudText>
                    }
                </MudPaper>
            </MudItem>
            @foreach (var workshop in workshops)
            {
                <MudItem xs="6">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudTextField Typo="Typo.h4" @bind-Value="workshop.Name" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText>@workshop.Selections.Count().ToString() Participants</MudText>
                            <MudText>@workshop.Period.DisplayName</MudText>
                            <MudTextField Label="Location" @bind-Value="workshop.Location" />
                            <MudTextField Label="Leader" @bind-Value="workshop.Leader" />
                            <MudSwitch Label="Is Mini?" @bind-Value="workshop.IsMini" />
                            <MudNumericField Label="Max Participants" @bind-Value="workshop.MaxParticipants" />
                            <MudNumericField Label="Minimum Age" @bind-Value="workshop.MinAge" />
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
            <MudItem xs="12">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">
                    Create PDF</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>

}

@code {
    private List<Workshop> workshops = new List<Library.Models.Workshop>();
    private bool isLoading;
    public string? downloadFileName;
    private ExcelUtilities context = new ExcelUtilities();
    private bool success = false;
    private List<Period> periods = new List<Period>();

    private async Task UploadExcel(IBrowserFile file)
    {
        success = true;
        isLoading = true;
        workshops.Clear();

        using (var stream = new FileStream(file.Name, FileMode.OpenOrCreate, FileAccess.ReadWrite))
        {
            await file.OpenReadStream().CopyToAsync(stream);
            context.ImportExcel(stream);
            workshops = context.Workshops;
            periods = workshops.Select(w => w.Period).Distinct().ToList();
        }

        isLoading = false;
    }

    private void BuildPdf()
    {
        //SetDownloadLink();
    }

    private void SetDownloadLink()
    {
        try
        {
            var document = context.CreatePdf();

            var renderer = new PdfDocumentRenderer()
                {
                    Document = document,
                    PdfDocument = new PdfDocument()
                    {
                        PageLayout = PdfPageLayout.SinglePage,
                        ViewerPreferences =
{
FitWindow = true
}
                    }
                };

            GlobalFontSettings.FontResolver = new CustomFontResolver();

            renderer.RenderDocument();

            renderer.Save("/home/isaac/test.pdf");

            downloadFileName = $"/home/isaac/test.pdf";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
