@using MudBlazor;
@using WinterAdventurer.Services;
@inject TourService TourService

<MudNavMenu>
    <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
    </MudNavLink>
    <MudNavLink OnClick="RestartTour">
        <MudIcon Icon="@Icons.Material.Filled.Help" /> Show Tutorial
    </MudNavLink>
</MudNavMenu>

@code {
    private async Task RestartTour()
    {
        await TourService.ResetAndStartTourAsync("home");
    }
}
