@using MudBlazor;

<MudNavMenu>
    <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
    </MudNavLink>
</MudNavMenu>
